/* stylelint-disable comment-empty-line-before */
/**
 * Built-in common style variables for uni-app
 *
 * Many third-party plugins on the uni-app official extension and plugin marketplace (https://ext.dcloud.net.cn) use these style variables
 * If you are a plugin developer, it is recommended that you use the scss preprocessor and use these variables directly in your plugin code (no need to import this file), making it easy for users to develop a consistently styled App by assembling blocks
 *
 */

/**
 * If you are an App developer (plugin user), you can customize your plugin theme by modifying these variables to implement custom theming
 *
 * If your project also uses the scss preprocessor, you can also use the variables below directly in your scss code, without importing this file
 */

/* Color variables */

/* Behavior-related colors */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

/* Basic text colors */
$uni-text-color: #333; // basic color
$uni-text-color-inverse: #fff; // inverse color
$uni-text-color-grey: #999; // auxiliary grey, e.g. "load more" prompt text
$uni-text-color-placeholder: #808080;
$uni-text-color-disable: #c0c0c0;

/* Background colors */
$uni-bg-color: #fff;
$uni-bg-color-grey: #f8f8f8;
$uni-bg-color-hover: #f1f1f1; // pressed-state color
$uni-bg-color-mask: rgb(0 0 0 / 40%); // mask color

/* Border colors */
$uni-border-color: #c8c7cc;

/* Size variables */

/* Text sizes */
$uni-font-size-sm: 12px;
$uni-font-size-base: 14px;
$uni-font-size-lg: 16;

/* Image sizes */
$uni-img-size-sm: 20px;
$uni-img-size-base: 26px;
$uni-img-size-lg: 40px;

/* Border Radius */
$uni-border-radius-sm: 2px;
$uni-border-radius-base: 3px;
$uni-border-radius-lg: 6px;
$uni-border-radius-circle: 50%;

/* Horizontal spacing */
$uni-spacing-row-sm: 5px;
$uni-spacing-row-base: 10px;
$uni-spacing-row-lg: 15px;

/* Vertical spacing */
$uni-spacing-col-sm: 4px;
$uni-spacing-col-base: 8px;
$uni-spacing-col-lg: 12px;

/* Opacity */
$uni-opacity-disabled: 0.3; // opacity of the disabled component state

/* Article-scenario related */
$uni-color-title: #2c405a; // article title color
$uni-font-size-title: 20px;
$uni-color-subtitle: #555; // secondary heading color
$uni-font-size-subtitle: 18px;
$uni-color-paragraph: #3f536e; // article paragraph color
$uni-font-size-paragraph: 15px;
